# config file for git: 
# File-name: $XDG_CONFIG_HOME/git/config

# OPEN: git config --global --edit
# check: git config --global --get-regexp color

[user]
	name = amxamxa
	email = max.kempter@gmail.com
[core]
    formatCommit = %s %C(auto)%d by %an <%a> %C(auto)%cr
     excludesfile = "$XDG_CONFIG_HOME/git/.gitignore_global"

# [color]
#	    ui = auto   
[color "branch"]
	    current = yellow reverse 	# Aktuelle Branch-Farbe
		local = yellow		 		# Lokale Branch-Farbe
	    remote = green 				# Remote-Branch-Farbe	
	    
[color "diff"]
	    meta = yellow bold			#  Meta-Informationen in Diffs
	    frag = magenta bold			
	    old = red bold				# Altes in Diffs
	    new = green bold			#  Neues im Diffs
[color "status"]
	    added = yellow
	    changed = green
	    untracked = cyan
	
[instaweb]
		browser = w3m
	
[alias]
    	lg = log --graph --decorate --all
