# .gitignore

# Neue Einträge
history/zhistory
zoxide/db.zo
presenterm/
asciinema

# Einträge
bkp/
nix-zsh-completions/
powerlevel10k/
term-theme.zsh
zsh-colored-man-pages/
zsh-syntax-highlighting/
*.bkp
*bkp
spaceship/
tldr/
.zcompdump
navi/cheats

